.body-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    gap: 25px;
    margin-top: 25px;
}

.full-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-bottom: 25px;
}

.picture-button {
    width: 250px;
    height: 100px;
}

.save-button {
    display: flex;
    justify-content: center;
}

.displayImage {
    display: flex;
}