a:link, :visited {
    text-decoration: none;
    color: white;
}

.title-box {
    background-color: #3B71CA;
}
.title-text {
    color: white;
}
.button-bar {
    display: flex;
    background-color: #165ccc;
    justify-content: flex-end;
    margin-bottom: 3vh;
}

.mui-page-title{
    margin-bottom: 2vh;
}

.menu-container{
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 3vh;
    flex-wrap: wrap;
}

.menu-button {
    display: flex;
    width: 48vw;
    height: 35vh;
}